

  header {
    background-color: #ccffcc;
    text-align: center;
    margin: auto auto;
    padding: 20px;
    border: 1px black solid;
    max-width: 400px;
    font-family: monospace, sans-serif;
    top:  300px;
    position: relative;
    box-shadow: 5px 5px 5px;
  }

  header h1 {

    color: black;
    font-size: 30px;

  }

.photo-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
 .section1 h2 {
   border-bottom: 1px solid black;
   
 }
  .section1 {
    background-image: url("skyway1.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;

  }

  .section2 {
    padding: 3em 7em;
    text-align: center;
    border: black 1px solid;
    background-color: #ccffcc;
    text-align: center;
    color: black;
    font-family: monospace;

  }

  .section3 {
    height: 500px;
    width: 100%;
    background-image: url("coding3.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
  }

  .section4 {
    height: 300px;
    padding: 5% 10%;
    text-align: center;
    border: 1px solid black;
    background-color:#ccffcc;
    text-align: center;
    color: black;
    font-family: monospace, sans-serif;
  }

  .section5 {
    height: 500px;
    width: 100%;
    background-image: url("coding4.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed
  }
 .section6 {
   height: 300px;
   padding: 5% 10%;
   text-align: center;
   border: 1px solid black;
   background-color: #ccffcc;
   text-align: center;
   color: black;
   font-family: monospace, sans-serif;
 }

.section7{
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed
}

.section8{
  height: 300px;
  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color:#ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}

.section9{
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed

}

.section10{
  height: 300px;
  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color: #ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}

.section11 {
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed

}


.section12 {
  height: 300px;
  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color: #ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}

.navigation {
  position: fixed;
  background-color: #ccffcc ;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid black;

}

.navigation li:hover {
  padding: 1em;
  display:inline-block;
  color: black;
  background-color: white;

}


.navigation li {
  padding: 1em;
  display:inline-block;


}

.navigation li a {
  text-decoration: none;
  color: #003366;
}


#headshot {
  border: 1px solid black;
}
body {
  margin: 0;
  padding: 0;
}

.navigation li a:hover {
  text-decoration: none;
  color:white;
}
body {
  margin: 0;
  padding: 0;
}

* {
  margin-top: 0;
  padding: 0;
  margin:0
}

p {
  padding: 1.5em;
  font-size: 1.5em;
}

h2 {
  padding: 1.5em;
  font-size: 1.5m;
  color: #003366;

}
