* {
  padding: 0;
  margin:0
}

h1 {
  color: #003366;
  font-size: 30px;
  animation-name: fadein;
  animation-duration: 3s;
}

h2 {
  margin: auto;
  padding: 5px;
  font-size: 1.5m;
  color: #003366;  
  animation-name: fadein;
  animation-duration: 4s;  
  font-family: monospace, sans-serif;
  text-align: center;
}

header {
  background-color: #ccffcc;
  margin: auto auto;
  text-align: center;
  padding: 20px;
  border: 1px black solid;
  max-width: 400px;
  font-family: monospace, sans-serif;
  top:  300px;
  position: relative;
  box-shadow: 5px 5px 5px;
}

.navigation {
  display: none;
}

a {
  font-size: 1em;
  font-family: monospace, sans-serif;
  margin: 2px;
  display: block;
}

p {
  margin: 1em;
  padding: 1.2em;
  font-size: 1.2em;
  font-family: monospace, sans-serif;
}

#headshot {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

#codingPic  {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

#social img{
  width: 10%;
  height: auto;
}

#projects a {
  font-size: 1.5em;
}

.content-section{
  padding: 5%;
  background-color: #ccffcc;
  border: black 1px solid;
  text-align: center;
}


#tab {
  width: 5%;
  height: auto;
  display: inline;
  z-index: 10;
  background-color: #ccffcc;
  position: fixed;
  top: 0px;
  right: 0px;
  border-left: black solid 1px;
  border-bottom: black solid 1px;
  padding: 5px 5px;
}

.mobileMenu {
  position: fixed;
  border-left: black solid 1px;
  width: 70%;
  height: 100%;
  z-index: 9;
  background-color: #ccffcc;
  text-align: left;
  text-decoration: none;
  right: 0px;
  text-decoration-style: none;
  padding: 5px 10px 10px 5px;
}

.mobileMenu ul {
  padding: 5px;
  text-decoration: none;
  text-decoration-style: none;
}

.mobileMenu li {
  margin: 20px;
  padding: 20px;
  text-decoration-style: none;
  text-decoration: none;
  display: block;
  font-size: 1.5em;

}

.mobileMenu li a {
  text-align: center;
  text-decoration: none;
  text-decoration-style: none;
  padding: 1%;
  color: #003366;
}

.mobileMenu li a:hover {
  background-color: white;
}
.navigation {
  display: none;
}

#tab button {
  border: none;
}

#tab button img {
  display: inline;
  width: 100%;
  height: 100%;
  background-color: #ccffcc;
}  

#section1 {
  background-image: url("./images/skyway1.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-color: #ccffcc;
}

#section3 {
  height: 500px;
  width: 100%;
  background-image: url("./images/coding3.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

#section5 {
  height: 500px;
  width: 100%;
  background-image: url("./images/coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed
}

#section7{
  height: 500px;
  width: 100%;
  background-image: url("./images/coding1.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed
}

#section9{
  height: 500px;
  width: 100%;
  background-image: url("./images/coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed
}

.photo-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 15px;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.photo-grid-container img {
  width: 150px; 
  height: 150px;
}

.photo-grid-container img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadein {
  from { 
    transform: translateX(75px);
    opacity: 0;
  }
  to   { 
    transform: translateX(0);
    opacity: 1;
   }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { 
    transform: translateX(75px);
    opacity: 0;
  }
  to   { 
    transform: translateX(0);
    opacity: 1;
   }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { 
    transform: translateX(75px);
    opacity: 0;
  }
  to   { 
    transform: translateX(0);
    opacity: 1;
   }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { 
    transform: translateX(75px);
    opacity: 0;
  }
  to   { 
    transform: translateX(0);
    opacity: 1;
   }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { 
    transform: translateX(75px);
    opacity: 0;
  }
  to   { 
    transform: translateX(0);
    opacity: 1;
   }
}

@-webkit-keyframes coverfade {
  from { 
    background-color: rgba(200, 200, 200, 1);
  }
  to   { 
    background-color: rgba(255, 255, 255, 0);
   }
}

.fadecover {
  animation-name: coverfade;
  animation-duration: 6s;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes dropin {
  from { 
    transform: translateY(-25px);
    opacity: 0;
  }
  to   { 
    transform: translateY(0);
    opacity: 1;
   }
}

.dropin {
  animation-name: dropin;
  animation-duration: 4s;
}

@media screen and (min-width: 1100px) {
  #tab button {
    display: none;
  }

  .mobileMenu {
    background-color: #ccffcc;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .mobileMenu a {
    text-decoration: none;
    color: #003366;
  }

  .mobileMenu li{
    display: inline-block;
    padding: 10px;
  }
  .navigation {
    display: inline;
    position: fixed;
    background-color: #ccffcc ;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid black;
    overflow: hidden;
  }

  .navigation li:hover {
    padding: 1em;
    display:inline-block;
    background-color: white;
  }

  .navigation li {
    padding: 1em;
    display:inline-block;
  }

  .navigation li a {
    text-decoration: none;
    color: #003366;
    animation-name: fadein;
    animation-duration: 3s;
  }

  .navigation li a:hover {
    text-decoration: none;
  }
}