/* When the screen is less than 1100 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1100px) {

  header {
    width: 100%;
  }

  p {
    padding: 0px;
    text-align: left
    font-size: 2px;
  }
  .section2 {
    padding:0px 0px;
    text-align: center;
  }
  #headshot{
    width: 200px;
    height: 200px;
  }
  .section2 p{
    padding: 0px;
    margin: 0px;
  }
  .section2 h2 {
    padding: 2px;
  }
  #codingPic  {
  width: 200px;
  height: 180px;
}

  .navigation {
    display: none;
  }


  #tab {
    display: inline;
    z-index: 10;
    background-color: #ccffcc;
    position: fixed;
    top: 0px;
    right: 0px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    padding: 5px 5px;
  }

  .mobileMenu {
    position: fixed;
    border-left: black solid 1px;
    width: 70%;
    height: 100%;
    z-index: 9;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: none;
    right: 0px;
    text-decoration-style: none;
    padding: 5px 10px 10px 5px;
  }

  .mobileMenu ul {
    padding: 5px;
    text-decoration: none;
    text-decoration-style: none;
  }

  .mobileMenu li {
    margin: 20px;
    padding: 20px;
    text-decoration-style: none;
    text-decoration: none;
    display: block;
    font-size: 1.5em;

  }


  .mobileMenu li a {
    text-decoration: none;
    text-decoration-style: none;
    padding: 5px 20px;
    color: #003366;
  }

  .mobileMenu li a:hover {
    background-color: white;
  }
  .navigation {
    display: none;
  }

  #tab button {
    border: none;
  }

  #tab button img {
    display: inline;
    height: 50px;
    width: 50px;
    background-color: #ccffcc;
  }
}



@media screen and (min-width: 1100px) {
  #tab button {
    display: none;
  }

  #headshot {
    width: 200px;
    height:200px;
  }

 #section1Container {
   display : grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20%;

 }
 #section1Container p {
   text-align: center;
   position: relative;
 }
  #codingPic{
    width: 200px;
    height: 200px;
  }

  .mobileMenu {
    background-color: #ccffcc;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .mobileMenu a {
    text-decoration: none;
    color: #003366;
  }

  .mobileMenu li{
    display: inline-block;
    padding: 10px;
  }
  .navigation {
    position: fixed;
    background-color: #ccffcc ;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid black;
    overflow: hidden;
  }

  .navigation li:hover {
    padding: 1em;
    display:inline-block;
    background-color: white;

  }


  .navigation li {
    padding: 1em;
    display:inline-block;

  }

  .navigation li a {
    text-decoration: none;
    color: #003366;
  }

  .navigation li a:hover {
    text-decoration: none;
  }
}

#container {
  margin: 0 0;
  padding: 0 0;
}

  header {
    background-color: #ccffcc;
    text-align: center;
    margin: auto auto;
    padding: 20px;
    border: 1px black solid;
    max-width: 400px;
    font-family: monospace, sans-serif;
    top:  300px;
    position: relative;
    box-shadow: 5px 5px 5px;
  }

  header h1 {

    color: #003366;
    font-size: 30px;

  }

.photo-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
 .section1 h2 {
   border-bottom: 1px solid black;

 }
  .section1 {
    background-image: url("skyway1.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;

  }

  .section2 {
    padding: 3em 7em;
    text-align: center;
    border: black 1px solid;
    background-color: #ccffcc;
    text-align: center;
    color: black;
    font-family: monospace;

  }

  .section3 {
    height: 500px;
    width: 100%;
    background-image: url("coding3.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
  }

  .section4 {
    padding: 5% 10%;
    text-align: center;
    border: 1px solid black;
    background-color:#ccffcc;
    text-align: center;
    color: black;
    font-family: monospace, sans-serif;
    font-size: 12px;
    align-items: center;
  }

  .section4 ul li{
    width: 300px;
    align-items: center;
    position: relative;
  }

  .section5 {
    height: 500px;
    width: 100%;
    background-image: url("coding4.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed
  }
 .section6 {

   padding: 5% 10%;
   text-align: center;
   border: 1px solid black;
   background-color: #ccffcc;
   text-align: center;
   color: black;
   font-family: monospace, sans-serif;
 }

.section7{
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed
}

.section8{

  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color:#ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}

.section9{
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed

}

.section10{

  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color: #ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}

.section11 {
  height: 500px;
  width: 100%;
  background-image: url("coding4.jpg");
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed

}


.section12 {

  padding: 5% 10%;
  text-align: center;
  border: 1px solid black;
  background-color: #ccffcc;
  text-align: center;
  color: black;
  font-family: monospace, sans-serif;

}




#headshot {
  border: 1px solid black;
}
body {
  margin: 0;
  padding: 0;
  min-width: 400px; 
}


body {
  margin: 0;
  padding: 0;
}

* {
  margin-top: 0;
  padding: 0;
  margin:0
}

p {
  padding: 1.2em;
  font-size: 1.2em;
}

h2 {
  padding: 1.5em;
  font-size: 1.5m;
  color: #003366;

}

.photo-grid-container {
  display: grid;
  grid-column-template: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0% 20% 0% 20%;
}

.photo-grid-container img {
  border: 1px solid black;
  width: 100px; 
  height: 100px;
  padding: 5px;
  margin: 5px;
  background-color: black;
}

.photo-grid-container img: hover {
  background-color: white; 
}
